<!-- Cookie Consent by https://www.freeprivacypolicy.com/cookie-consent/ -->
<script type="text/javascript" src="//www.FreePrivacyPolicy.com/cookie-consent/releases/3.0.0/cookie-consent.js"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        cookieconsent.run({"notice_banner_type":"headline","consent_type":"implied","palette":"dark","change_preferences_selector":"#changePreferences","language":"en"});
    });
</script>

<noscript>GDPR Cookie Consent by <a href="https://www.freeprivacypolicy.com/">Free Privacy Policy</a></noscript>
<!-- End Cookie Consent -->